*{
    margin: 0;
    padding: 0%;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.9)), url('img/kasi-vigorous.png');
    color: #fff;
}

.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.9)), url('img/hero-bg.jpg');
    background-size: cover;

}
/* ---- particles.js container ---- */
.container-1 {
    padding: 10px 5%;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

p span {
    background: -webkit-linear-gradient(#eee, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav h1 {
    font-size: 50px;
    position: relative;
    text-shadow: 2px 2px 4px #eee;
}

nav h1 span {
    color: #000;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    background: -webkit-linear-gradient(#eee, #1bbbdc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    left: 0;
    background: #1bbbdc;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.container-text {
    margin-top: 20%;
    font-size: 30px;
}

nav img {
    width: 90px;
    height: 60px;
}
.wrapper{
  display: flex;
  margin-top: 25%;
}

.wrapper h1 {
  font-size: 3em;
  color: white;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px #1c6eef;
}
.typewrite h1{
    text-shadow: 2px 2px 4px #000;
    color: #1c6eef;
}
.center{
   text-align: center;   
}
.center h1{
  font-size: 3em;
  color: white;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px #000;

}

.wrap span {
  border-right: .05em solid;
  animation: caret 6s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

/*-------about-------*/
.game img{
    width: 20%;
    height: 20vh;
    box-shadow: 8px 4px 30px #000;

}
#about{
    padding: 80px 5%;
    color: #ababab;
    background: rgb(27,187,220);
    background: linear-gradient(119deg, rgba(27,187,220,1) 30%, rgba(24,27,41,1) 30%);
    box-shadow: 2px 3px 8px #fff;
}
.row{
    display: flex;
    justify-content: space-between ;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.works{
    color: #fff;
}
.about-col-1 img{
    width: 100%;
    height: 70vh;
    box-shadow: 8px 4px 30px #000;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(11,11,11,1) 50%);
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.tab-title{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #1bbbdc;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-content ul li{
    list-style: none;
    margin: 10px 0;

}
.tab-content ul li span{
    background: -webkit-linear-gradient(#eee, #1bbbdc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 18px;

}
.tab-content{
    display: none;
}
.tab-content.active-tab{
    display: block;
}
/*------services-------*/
.services{
    padding: 30px 5%;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.9)), url('img/project-one.jpg');
    background-size: cover;
    background-position: center;
}
.service-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    margin-top: 50px ;
}
.service-list div{
    background-color: transparent; 
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.service-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.service-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.service-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20;
    display: inline-block;
}
.service-list div:hover{
    background: rgb(104,102,154);
    background: linear-gradient(292deg, rgba(104,102,154,1) 0%, rgba(57,101,158,1) 35%, rgba(0,212,255,1) 100%);
    transform:translateY(-10px);
}
.work-1 h3{
    font-size: 18px;
    font-weight: 300;
    padding-left: 16px;
    margin-top: 10px;
}
.work-1 p{
    margin-top: 18px;
    padding-left: 16px;
}
.work-1{
    margin-top: 8px;
    color: #fff;
    background: linear-gradient(45deg,#000,#333);
    border-radius: 15px;
}
.work-2 h3{
    font-size: 18px;
    font-weight: 300;
    padding-left: 16px;
    margin-top: 10px;
}
.work-2 p{
    margin-top: 6px;
    padding-left: 16px;
}
.work-2{
    margin-top: 16px;
    color: #fff;
    background: linear-gradient(45deg,#000,#333,#fff);
    border-radius: 15px;
}
.work-3 h3{
    font-size: 18px;
    font-weight: 300;
    padding-left: 16px;margin-top: 10px;
}
.work-3 p{
    margin-top: 6px;
    padding-left: 16px;
}
.work-3{
    margin-top: 16px;
    color: #fff;
    background: linear-gradient(45deg,#000,#333,#fff);
    padding-right: px;
    transition:  0.5s, transform 0.5s;
    border-radius: 15px;
}
.work-1:hover{
    box-shadow: 2px 2px 4px 8px #000;
    cursor: pointer;
    transform:translateY(-10px);
}
.work-2:hover{
    box-shadow: 2px 2px 4px 8px #000;
    cursor: pointer;
    transform:translateY(-10px);
}
.work-3:hover{
    box-shadow: 2px 2px 4px 8px #000;
    cursor: pointer;
    transform:translateY(-10px);
}
.Prices{
    padding: 30px 5%;
    background-color: #262626 ;
    transform:rotate(-2deg);
    box-shadow: 2px 2px 4px #ff0;
}
.social i{
    height: 4%;
     font-size: 20px;
     background: -webkit-linear-gradient(45deg,rgb(8, 8, 164) , rgb(193, 128, 139) ,rgb(142, 36, 54));
     background-size: cover ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.Objective{
    margin-top: 20px;
    padding: 30px 5%;
    background-color: #090b14 ;
     text-align: center;
    transform:rotate(2deg);
    box-shadow: 2px 2px 4px #000;
}
.Objective p{
    margin-top: 10px;
 
}

hr{
    background-color: #000;
    box-shadow: 2px 4px 8px #000;
}
.portfolio{
    padding: 30px 5%;
    box-shadow: 2px 2px 4px 16px #000;
     background-color: #090b14 ;
}
.portfolio a img{
    width: 30%;
    height: 150px;
    margin-left: 60%;
    box-shadow: 6px 6px 8px #fff;
    border-right: #ff0;
    border-radius: 15px;
    background-color: #fff;
}
.portfolio a{
  color: #fff;
}
html{
    scroll-behavior: smooth;
}
.Contact{
    padding: 30px 5%;
    box-shadow: 2px 2px 4px 16px #000;
     background-color: #090b14 ;
     box-shadow: 2px 2px 8px #000;
   
}
.contact_icon{
    color: #fff;
    margin-top: 18px;
    
}
.contact_icon a{
      text-decoration: none;
      color: #fff;
}
.contact_icon i{
     height: 4%;
     font-size: 20px;
     background: -webkit-linear-gradient(45deg,rgb(8, 8, 164) , rgb(193, 128, 139) ,rgb(142, 36, 54));
     background-size: cover ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.address{
    text-align: right;
}
footer {
    background-color: #181b29;
    color: #fff;
    padding: 10px;
    text-align: center;
}
nav .fa-regular{
    display: none;
}
nav .fa-solid{
    display: none;
}

/* Media Queries */
@media only screen and (max-width: 768px) {

    body{
        font-size: 10px;
    }

    .service-list div:hover{
    background: none;
    background: none;
    transform:translateY(-10px);
}
    .about{
    padding: 80px 5%;
    color: #ababab;
    background: rgb(255,255,255);
    background: linear-gradient(119deg, rgba(255,255,255,1) 0%, rgba(24,27,41,1) 0%);
}

 .header{
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.9)), url('img/hero-bg.jpg');
    background-size: cover;
    }
    nav h1 {
    font-size: 8px;
    position: relative;
    text-shadow: 2px 2px 4px #eee;
    }

  .container-text {
    margin-top: 10%;
    font-size: 20px;
  }

  .wrapper h1 {
    font-size: 1em;
  }

  .about-col-1 img {
    width: 100%;
    height: 22vh;
 
  }

  .about-col-2 {
    flex-basis: 100%;
  }


  .tab-title {
    flex-wrap: wrap;
    justify-content: center;
  }

  .tab-links {
    margin: 10px;
  }

  .service-list div {
    padding: 20px;
    font-size: 12px;
  }

  .service-list div i {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .service-list div h2 {
    font-size: 24px;
  }

  .service-list div a {
    font-size: 10px;
  }

  .portfolio a img {
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-bottom: 20px;

  }
  .contact{
    font-size: 8px;
  }
  #about{
    padding: 30px 5%;
}

  .contact_icon {
    margin-top: 10px;
  }

  .contact_icon i {
    font-size: 16px;
  }

  .address {
    text-align: center;
    margin-top: 20px;
  }
  .tab-title p{
    font-size: 15px;
  }
  .service-list div i{
    font-size: 20px;
    margin-bottom: 30px;
    }
    .sub-title{
        font-size: 40px;
    }
 .tab-content ul li{
   
    margin-left: 50px;

    }
    .tab-content ul li span{
      
        font-size: 10px;
    }
     nav {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

  

    nav ul {
        width: 200px;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.9);
        position: fixed;
        top: 0;
        right: -200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 100;
    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    nav ul li a {
        font-size: 14px;
        background: -webkit-linear-gradient(#fff, #fff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    nav .fa-regular{
    display: block;
    margin: 25px;
    }
    nav .fa-solid{
        display: block;
        font-size: 14px;
        border: solid;
        border-width: 2px;
        border-color: #1688a7;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.9);
    }
    

    nav ul .fa-regular{
        position: absolute;
        top: 20px;
        left: 0;
        cursor: pointer;
        font-size: 20px;
        color: #fff; 


    }
    nav ul .fa-regular:hover{
         background-color: #1688a7;
         transform: scale(1.1);
    }
    .sub-title{
    font-size: 30px;
 
}
nav ul li a::after {
    width: 100%;
    height: 0;
    position: absolute;
    left: 0;
    background: #1bbbdc;
    bottom: 0;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
    background-color: #1bbbdc; 
}
hr{
    width: 100;
}
.game img{
    width: 30%;
    height: 10vh;
    box-shadow: 8px 4px 30px #000;

}



}